---
layout: default
---

<div class="row">
<div class="col-md-3">
&nbsp;
</div>
<div class="col-md-6 col-sm-8">
<h1>{{ page.title }}</h1>

{{ content }}

</div>
<div class="col-md-3 col-sm-4">
      <form name="form1" method="post" action="https://kidschant.edu20.org/log_in/submit" target="_blank">
    
    
      User ID:<br>
      <input type="text" name="userid" id="userid" class="edu20_widget_border">
<br />
      Password: <a href="http://kidschant.edu20.org/log_in/forgot_password" target="_blank">(forgot?)</a><br>
      <input type="password" name="password" id="password" class="edu20_widget_border"><br>
 <input type="checkbox" name="remember" id="remember"> Remember me?
<br />
      <button type="submit" value="Submit">Log in</button></form>
<form name="access_code" method="post" action="http://kidschant.edu20.org/join_with_access_code/submit/" target="_blank">
<br>
To sign up for an account enter your access code here:
<input type="text" name="registration_code" value="Access Code" id="registration_code"> <br>
<button type="submit" id="submit_access_code">Sign up</button></form>
</div>
</div>
