<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Gregorian chant for children">
	<meta name="author" content="Veronica Brandt">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width">

<link href='http://fonts.googleapis.com/css?family=Lato|Eagle+Lake' rel='stylesheet' type='text/css'>

       <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">

        <script src="{{ site.url }}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site.url }}/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114.png">

<!-- to adjust iframe height automatically 
<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script> -->

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->


    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <a class="navbar-brand" href="{{ site.url }}">Kids Chant</a>
<p class="navbar-text">Pueri Cantant</p>
          
        </div>
<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basics<b class="caret"></b></a>
              <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/pater.html">Pater noster</a></li>
            <li><a href="{{ site.url }}/salve/index.html">Salve Regina</a></li>
            <li><a href="{{ site.url }}/avemaria/index.html">Ave Maria</a></li>
</ul></li></ul></div>

<!--        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ site.url }}">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">action</a></li>
                <li><a href="#">another action</a></li>
                <li><a href="#">something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">nav header</li>
                <li><a href="#">separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div> /.nav-collapse -->
      </div>
    </div>

<div class="container">
     {{ content }}

<div class="row"></div>
<hr>

<footer>
<p>
<a href="http://kidschant.com">Kids chant</a>
</p>
</footer>

	</div><!-- container -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="{{ site.url }}/js/vendor/bootstrap.min.js"></script>

        <script src="{{ site.url }}/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48304205-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
$SA = {s:193813, asynch: 1};
(function() {
   var sa = document.createElement("script");
   sa.type = "text/javascript";
   sa.async = true;
   sa.src = ("https:" == document.location.protocol ? "https://" + $SA.s + ".sa" : "http://" + $SA.s + ".a") + ".siteapps.com/" + $SA.s + ".js";
   var t = document.getElementsByTagName("script")[0];
   t.parentNode.insertBefore(sa, t);
})();
</script>

<!-- End Document
================================================== -->
</body>
</html>
